<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style class="vjs-styles-defaults">
      .video-js {
        width: 300px;
        height: 150px;
      }

      .vjs-fluid {
        padding-top: 56.25%
      }
    </style>
    <!-- domain: com language: en page:  --> 
</head>>
<title>后台管理</title>
<meta http-equiv="Page-Enter" content="revealTrans(Duration=2.0,Transition=0)" />
<meta property="og:title" content="">
<meta name="keywords" content="">
<meta property="og:image:width" content="1920">
<meta property="og:image:height" content="1080">
<meta property="og:type" content="website">
<meta property="og:url" content="index.html">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="version" content="1.2.2">
<meta name="baidu-site-verification" content="Afh9PZYTcz">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/reset.min.css">
<link rel="stylesheet" href="/static/css/video-js.css">
<link rel="stylesheet" href="/static/css/jquery.bxslider.min.css">
<link rel="stylesheet" href="/static/css/aos.css">
<link rel="stylesheet" href="/static/css/slick.css">
<link rel="stylesheet" href="/static/css/cookieconsent.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/bitmax_login1.css">
<link rel="stylesheet" href="/static/css/bitmax_login2.css">
<script src="/static/js/login.js"></script>
<script src="jquery.js"></script>
<script charset="UTF-8" type="text/javascript" src="/static/charting_library/charting_library.min.js"></script>

<body class="bg-white" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
	<div class="cc-revoke cc-bottom cc-animate " style="display: none;">Cookie Policy</div>
	<div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-opt-out cc-theme-block cc-bottom " style="">
	<!--googleoff: all-->
	<div>
	
	</div>
	<div class="cc-custom-compliance">
	</div>
	<!--googleon: all-->
	</div>

<header class="header-bg">
    <div class="container main-menu">
        <nav class="navbar navbar-default">
            <div class="container-fliud">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                    </button>
                    <a  class="navbar-brand logo">租凭系统后台登陆</a>
                </div>

                <!--/.nav-collapse -->
            </div>
            <!--/ .container-fluid -->
        </nav>
    </div>
</header>
<div data-v-ddba8180="" class="background">
	<div class="btb-login-box" style='top: 50%;padding-bottom: 40px;' >
		<h3>登录账号</h3> 
		<form class="el-form"  method="POST" >
			<div class="el-form-item__content" style="margin-left: 0px;">
				<div class="el-form-item login-pass el-form-item--feedback is-error is-required">
					<div class="el-form-item__content" style="margin-left: 0px;">
						<div class="login-input el-input el-input--prefix">
							<input id='username' type='text' name='username' autocomplete="off" placeholder="邮箱" class="el-input__inner" oninput='return isEmail()' />
						</div>
						<div id='emailError' class="el-form-item__error" style='display:none' ></div>
						<div class="login-input el-input el-input--prefix">
							<input  id='passwd' type="password" name='passwd' autocomplete="off" placeholder="密码" class="el-input__inner" oninput='return passFormat()' />
						</div>
						<div id='passFormatError' class="el-form-item__error" style='display:none'></div>
				</div>
				<input disabled="disabled" type ='submit' id="geeTestButton" class='btn-login' onclick="return loginCheck();"  style='cursor: not-allowed;'value='立即登录'>
				<div class="btn-forget">
					<p> <a href="/reset/">重置密码</a></p>
				</div>
			</div>
		</form>
	</div>
</html>